# Stackoverflow Dataset 
https://bigquery.cloud.google.com/table/bigquery-public-data:stackoverflow.posts_questions

# Problem 1
- Supposed we want to predict using the Stackoverflow dataset the probability a question will be acceptably answered. Without doing the ML, create a ML dataset (training, testing, validation) that we can later use for classification.

In [1]:
import google.datalab.bigquery as bq

In [ ]:
#Bigquery query

# SELECT
#   id,
#   accepted_answer_id
# FROM
#   [bigquery-public-data:stackoverflow.posts_questions]
# WHERE
#   ABS(HASH(creation_date)) % 10 < 8

In [2]:
training_set = """
SELECT
  id,
  accepted_answer_id
FROM
  `bigquery-public-data.stackoverflow.posts_questions`
WHERE
   MOD(ABS(farm_fingerprint(CAST(creation_date AS STRING))), 10) < 8
"""

training_set = bq.Query(training_set).execute().result().to_dataframe()
training_set.head()

         id  accepted_answer_id
0   5269923           5269967.0
1  42635640          42697080.0
2  26900738          26900792.0
3  25045557          25049067.0
4  33221645          33222770.0

In [ ]:
testing_set = """
SELECT
  id,
  accepted_answer_id
FROM
  `bigquery-public-data.stackoverflow.posts_questions`
WHERE
   MOD(ABS(farm_fingerprint(CAST(creation_date AS STRING))), 10) > 8
"""

testing_set = bq.Query(testing_set).execute().result().to_dataframe()
testing_set.head()

In [ ]:
validation_set = """
SELECT
  id,
  accepted_answer_id
FROM
  `bigquery-public-data.stackoverflow.posts_questions`
WHERE
   MOD(ABS(farm_fingerprint(CAST(creation_date AS STRING))), 10) = 9
"""

validation_set = bq.Query(validation_set).execute().result().to_dataframe()
validation_set.head()

# Problem 2
- Say we now needed to predict whether a question will be acceptably answered within a 2 day window. How would you create the dataset for Classification? Write the query below.

In [63]:
training_set_2 = """
SELECT
  questions.id,
  questions.accepted_answer_id,
  questions.creation_date AS creation_date_questions,
  answers.creation_date AS creation_date_acc_answers,
  TIMESTAMP_DIFF(answers.creation_date, questions.creation_date, DAY) AS duration,
  if((TIMESTAMP_DIFF(answers.creation_date, questions.creation_date, DAY) <= 2), 1, 0)
  
FROM
  `bigquery-public-data.stackoverflow.posts_questions` AS questions LEFT JOIN 
  `bigquery-public-data.stackoverflow.posts_answers` AS answers
   ON questions.accepted_answer_id = answers.id
   
WHERE
   MOD(ABS(farm_fingerprint(CAST(questions.creation_date AS STRING))), 10) < 8
   
LIMIT 100
"""

training_set_2 = bq.Query(training_set_2).execute().result().to_dataframe()
training_set_2

,id,accepted_answer_id,creation_date_questions,creation_date_acc_answers,duration,f0_
0,20435990,NaN,2013-12-07 00:32:14.723,NaT,NaN,0
1,52110638,NaN,2018-08-31 07:35:10.177,NaT,NaN,0
2,39160834,NaN,2016-08-26 07:35:21.020,NaT,NaN,0
3,34955835,NaN,2016-01-22 20:57:53.113,NaT,NaN,0
4,26749501,NaN,2014-11-05 04:02:51.187,NaT,NaN,0
5,28411299,NaN,2015-02-09 13:51:34.800,NaT,NaN,0
6,18842261,NaN,2013-09-17 05:57:51.540,NaT,NaN,0
7,51189039,NaN,2018-07-05 10:30:51.513,NaT,NaN,0
8,38026044,NaN,2016-06-25 07:18:10.670,NaT,NaN,0
9,15849838,NaN,2013-04-06 10:37:18.560,NaT,NaN,0
10,12735288,NaN,2012-10-04 20:23:56.307,NaT,NaN,0
11,7722064,NaN,2011-10-11 06:17:31.100,NaT,NaN,0
12,43030802,NaN,2017-03-26 15:40:16.947,NaT,NaN,0
13,28123284,NaN,2015-01-24 07:21:03.543,NaT,NaN,0
14,27710844,NaN,2014-12-30 18:46:16.897,NaT,NaN,0
15,15413796,NaN,2013-03-14 15:44:08.367,NaT,NaN,0
16,8833464,NaN,2012-01-12 10:24:14.567,NaT,NaN,0
17,46886752,NaN,2017-10-23 10:07:38.360,NaT,NaN,0
18,39130299,NaN,2016-08-24 18:12:04.753,NaT,NaN,0
19,48839164,NaN,2018-02-17 07:50:16.327,NaT,NaN,0
20,49792110,NaN,2018-04-12 08:52:24.063,NaT,NaN,0
21,36026626,NaN,2016-03-16 04:08:11.770,NaT,NaN,0
22,51323152,NaN,2018-07-13 10:32:30.043,NaT,NaN,0
23,37740325,NaN,2016-06-10 05:09:29.720,NaT,NaN,0
24,49484548,NaN,2018-03-26 05:32:59.403,NaT,NaN,0
25,46762444,NaN,2017-10-16 03:16:11.743,NaT,NaN,0
26,43347524,NaN,2017-04-11 13:33:37.690,NaT,NaN,0
27,45055359,NaN,2017-07-12 10:38:10.000,NaT,NaN,0
28,41044970,NaN,2016-12-08 17:05:53.787,NaT,NaN,0
29,46725315,NaN,2017-10-13 08:05:33.920,NaT,NaN,0
...,...,...,...,...,...,...
70,25371417,25371520.0,2014-08-18 20:20:47.850,2014-08-18 20:28:48.973,0.0,1
71,14890795,14890849.0,2013-02-15 08:34:50.253,2013-02-15 08:39:31.210,0.0,1
72,45068245,45068507.0,2017-07-12 22:04:47.513,2017-07-12 22:26:49.970,0.0,1
73,46922340,46922822.0,2017-10-25 01:09:37.827,2017-10-25 02:08:53.390,0.0,1
74,23877371,23883811.0,2014-05-26 20:34:55.917,2014-05-27 07:49:03.157,0.0,1
75,40438784,40438849.0,2016-11-05 13:28:09.987,2016-11-05 13:34:53.250,0.0,1
76,7338385,7339514.0,2011-09-07 17:59:48.703,2011-09-07 19:29:00.713,0.0,1
77,23288359,23298172.0,2014-04-25 08:47:56.570,2014-04-25 16:14:37.593,0.0,1
78,25903919,25904082.0,2014-09-18 03:53:30.770,2014-09-18 04:15:17.923,0.0,1
79,14499358,14499465.0,2013-01-24 10:41:38.760,2013-01-24 10:46:46.120,0.0,1
80,37185266,37193059.0,2016-05-12 11:14:16.867,2016-05-12 16:53:45.360,0.0,1
81,33024830,33044741.0,2015-10-08 19:55:34.190,2015-10-09 18:14:08.830,0.0,1
82,6150926,6151149.0,2011-05-27 10:24:18.383,2011-05-27 10:44:31.047,0.0,1
83,10967118,10968204.0,2012-06-10 07:49:21.763,2012-06-10 11:13:03.217,0.0,1
84,4197429,4202242.0,2010-11-16 18:08:44.153,2010-11-17 07:11:58.647,0.0,1
85,25600810,25602959.0,2014-09-01 07:28:36.683,2014-09-01 09:42:01.297,0.0,1
86,9837053,9837119.0,2012-03-23 09:52:42.507,2012-03-23 09:55:47.667,0.0,1
87,96923,96937.0,2008-09-18 21:01:43.730,2008-09-18 21:03:08.597,0.0,1
88,15154169,15154421.0,2013-03-01 09:13:19.067,2013-03-01 09:28:11.353,0.0,1
89,1869285,1869323.0,2009-12-08 19:31:15.420,2009-12-08 19:36:04.553,0.0,1
90,22894038,22894288.0,2014-04-06 12:30:06.487,2014-04-06 12:51:55.717,0.0,1
91,10825711,10826551.0,2012-05-30 23:37:34.790,2012-05-31 02:01:36.850,0.0,1
92,10435459,10435582.0,2012-05-03 16:24:53.520,2012-05-03 16:32:43.027,0.0,1
93,16971711,16972001.0,2013-06-06 20:36:36.743,2013-06-06 20:54:18.873,0.0,1
94,42873228,42873312.0,2017-03-18 10:34:47.343,2017-03-18 10:44:28.657,0.0,1
95,21853300,21853514.0,2014-02-18 12:07:38.473,2014-02-18 12:15:41.027,0.0,1
96,17329629,17329916.0,2013-06-26 20:15:32.917,2013-06-26 20:32:18.617,0.0,1
97,45712866,45714876.0,2017-08-16 11:53:54.770,2017-08-16 13:25:37.883,0.0,1
98,10602497,10602613.0,2012-05-15 14:05:49.667,2012-05-15 14:11:33.793,0.0,1
99,37579487,37607769.0,2016-06-01 21:58:51.190,2016-06-03 06:51:08.663,1.0,1

In [64]:
testing_set_2 = """
SELECT
  questions.id,
  questions.accepted_answer_id,
  questions.creation_date AS creation_date_questions,
  answers.creation_date AS creation_date_acc_answers,
  TIMESTAMP_DIFF(answers.creation_date, questions.creation_date, DAY) AS duration,
  if((TIMESTAMP_DIFF(answers.creation_date, questions.creation_date, DAY) <= 2), 1, 0)
  
FROM
  `bigquery-public-data.stackoverflow.posts_questions` AS questions LEFT JOIN 
  `bigquery-public-data.stackoverflow.posts_answers` AS answers
   ON questions.accepted_answer_id = answers.id
   
WHERE
   MOD(ABS(farm_fingerprint(CAST(questions.creation_date AS STRING))), 10) > 8
   
LIMIT 100
"""

testing_set_2 = bq.Query(testing_set_2).execute().result().to_dataframe()
testing_set_2

,id,accepted_answer_id,creation_date_questions,creation_date_acc_answers,duration,f0_
0,27006973,NaN,2014-11-19 00:43:26.317,NaT,NaN,0
1,39128266,NaN,2016-08-24 16:10:50.483,NaT,NaN,0
2,47484070,NaN,2017-11-25 08:39:41.293,NaT,NaN,0
3,28671775,NaN,2015-02-23 10:36:52.677,NaT,NaN,0
4,9415715,NaN,2012-02-23 15:14:32.910,NaT,NaN,0
5,45232370,NaN,2017-07-21 08:08:12.240,NaT,NaN,0
6,11954396,NaN,2012-08-14 14:22:11.803,NaT,NaN,0
7,18944143,NaN,2013-09-22 13:06:44.763,NaT,NaN,0
8,49398074,NaN,2018-03-21 04:14:10.750,NaT,NaN,0
9,48979631,NaN,2018-02-25 23:33:34.840,NaT,NaN,0
10,43155262,NaN,2017-04-01 09:46:50.290,NaT,NaN,0
11,36908486,NaN,2016-04-28 07:51:05.467,NaT,NaN,0
12,30034330,NaN,2015-05-04 15:49:15.583,NaT,NaN,0
13,8454406,NaN,2011-12-10 04:29:07.280,NaT,NaN,0
14,5584491,NaN,2011-04-07 16:36:21.453,NaT,NaN,0
15,10456002,NaN,2012-05-04 20:53:29.590,NaT,NaN,0
16,32203814,NaN,2015-08-25 12:17:19.803,NaT,NaN,0
17,51147234,NaN,2018-07-03 05:31:26.433,NaT,NaN,0
18,24210645,NaN,2014-06-13 17:15:13.283,NaT,NaN,0
19,17753994,NaN,2013-07-19 19:26:34.473,NaT,NaN,0
20,33291506,NaN,2015-10-22 22:00:51.203,NaT,NaN,0
21,26258666,NaN,2014-10-08 13:53:53.837,NaT,NaN,0
22,8330908,NaN,2011-11-30 18:22:13.787,NaT,NaN,0
23,14622942,NaN,2013-01-31 09:57:01.540,NaT,NaN,0
24,24234569,NaN,2014-06-15 22:13:47.600,NaT,NaN,0
25,47363933,NaN,2017-11-18 08:04:37.580,NaT,NaN,0
26,11037279,NaN,2012-06-14 16:21:05.590,NaT,NaN,0
27,47330711,NaN,2017-11-16 13:19:00.717,NaT,NaN,0
28,30970702,NaN,2015-06-22 00:31:35.043,NaT,NaN,0
29,43624721,NaN,2017-04-26 03:52:46.827,NaT,NaN,0
...,...,...,...,...,...,...
70,32344747,32353806.0,2015-09-02 04:42:46.920,2015-09-02 12:56:20.247,0.0,1
71,26202951,26203128.0,2014-10-05 13:24:31.510,2014-10-05 13:44:22.837,0.0,1
72,30141098,30142293.0,2015-05-09 14:28:22.870,2015-05-09 16:18:15.383,0.0,1
73,18670014,18670192.0,2013-09-07 05:18:22.553,2013-09-07 05:46:59.053,0.0,1
74,8537456,8537738.0,2011-12-16 16:55:24.293,2011-12-16 17:14:37.080,0.0,1
75,31585248,31589223.0,2015-07-23 10:52:13.800,2015-07-23 13:44:10.097,0.0,1
76,18997341,18997386.0,2013-09-25 06:02:28.543,2013-09-25 06:05:44.383,0.0,1
77,3114696,3115427.0,2010-06-24 23:41:17.003,2010-06-25 03:49:25.677,0.0,1
78,7942105,7942157.0,2011-10-29 22:31:16.387,2011-10-29 22:44:32.487,0.0,1
79,9182462,9182547.0,2012-02-07 19:21:26.687,2012-02-07 19:27:21.727,0.0,1
80,46033418,46033524.0,2017-09-04 08:47:19.840,2017-09-04 08:53:50.593,0.0,1
81,18431547,18432002.0,2013-08-25 17:09:01.610,2013-08-25 17:59:55.403,0.0,1
82,48053822,48057513.0,2018-01-01 22:37:56.660,2018-01-02 08:01:54.887,0.0,1
83,14799625,14801423.0,2013-02-10 16:04:09.403,2013-02-10 19:01:17.897,0.0,1
84,19673915,19674027.0,2013-10-30 04:34:41.090,2013-10-30 04:44:35.253,0.0,1
85,33338865,33339032.0,2015-10-26 05:13:29.210,2015-10-26 05:33:21.000,0.0,1
86,5750070,5751885.0,2011-04-21 21:40:08.797,2011-04-22 03:00:22.167,0.0,1
87,5703111,5703149.0,2011-04-18 12:47:57.343,2011-04-18 12:50:24.093,0.0,1
88,18957943,18957973.0,2013-09-23 11:18:24.500,2013-09-23 11:20:52.493,0.0,1
89,51163537,51163538.0,2018-07-03 22:25:38.813,2018-07-03 22:25:38.813,0.0,1
90,33930418,33930550.0,2015-11-26 04:08:28.697,2015-11-26 04:21:48.453,0.0,1
91,7749159,7749191.0,2011-10-13 03:30:19.937,2011-10-13 03:35:03.533,0.0,1
92,21993492,21993745.0,2014-02-24 16:35:17.757,2014-02-24 16:46:23.437,0.0,1
93,13869711,13869744.0,2012-12-13 22:34:30.947,2012-12-13 22:37:53.423,0.0,1
94,14134443,14134475.0,2013-01-03 07:04:57.320,2013-01-03 07:07:18.557,0.0,1
95,15914815,15914873.0,2013-04-10 00:17:05.420,2013-04-10 00:22:38.663,0.0,1
96,3556787,3566707.0,2010-08-24 13:17:11.370,2010-08-25 14:11:14.813,1.0,1
97,44375763,44404892.0,2017-06-05 18:52:58.623,2017-06-07 06:16:55.137,1.0,1
98,42257220,42283356.0,2017-02-15 18:21:14.923,2017-02-16 19:51:34.547,1.0,1
99,5706522,5745003.0,2011-04-18 17:23:55.917,2011-04-21 13:49:50.750,2.0,1

In [65]:
validation_set_2 = """
SELECT
  questions.id,
  questions.accepted_answer_id,
  questions.creation_date AS creation_date_questions,
  answers.creation_date AS creation_date_acc_answers,
  TIMESTAMP_DIFF(answers.creation_date, questions.creation_date, DAY) AS duration,
  if((TIMESTAMP_DIFF(answers.creation_date, questions.creation_date, DAY) <= 2), 1, 0)
  
FROM
  `bigquery-public-data.stackoverflow.posts_questions` AS questions LEFT JOIN 
  `bigquery-public-data.stackoverflow.posts_answers` AS answers
   ON questions.accepted_answer_id = answers.id
   
WHERE
   MOD(ABS(farm_fingerprint(CAST(questions.creation_date AS STRING))), 10) = 9
   
LIMIT 100
"""

validation_set_2 = bq.Query(validation_set_2).execute().result().to_dataframe()
validation_set_2

,id,accepted_answer_id,creation_date_questions,creation_date_acc_answers,duration,f0_
0,48110945,NaN,2018-01-05 09:47:39.930,NaT,NaN,0
1,30105468,NaN,2015-05-07 15:26:42.750,NaT,NaN,0
2,35818446,NaN,2016-03-05 19:00:23.423,NaT,NaN,0
3,11449191,NaN,2012-07-12 09:47:08.660,NaT,NaN,0
4,25178576,NaN,2014-08-07 09:14:03.667,NaT,NaN,0
5,50867621,NaN,2018-06-15 00:20:49.007,NaT,NaN,0
6,36241822,NaN,2016-03-26 22:52:33.423,NaT,NaN,0
7,30654700,NaN,2015-06-04 21:42:36.950,NaT,NaN,0
8,49905748,NaN,2018-04-18 17:33:02.490,NaT,NaN,0
9,24829512,NaN,2014-07-18 16:11:09.050,NaT,NaN,0
10,37135692,NaN,2016-05-10 10:22:03.020,NaT,NaN,0
11,39163002,NaN,2016-08-26 09:30:22.593,NaT,NaN,0
12,41590566,NaN,2017-01-11 12:07:41.047,NaT,NaN,0
13,38122394,NaN,2016-06-30 11:56:01.637,NaT,NaN,0
14,30156094,NaN,2015-05-10 20:03:35.150,NaT,NaN,0
15,14296060,NaN,2013-01-12 17:44:38.307,NaT,NaN,0
16,34387609,NaN,2015-12-21 00:52:14.553,NaT,NaN,0
17,41274185,NaN,2016-12-22 00:42:47.370,NaT,NaN,0
18,46619033,NaN,2017-10-07 10:10:18.140,NaT,NaN,0
19,15507339,NaN,2013-03-19 18:14:06.577,NaT,NaN,0
20,33468648,NaN,2015-11-01 23:51:42.943,NaT,NaN,0
21,51581755,NaN,2018-07-29 15:21:07.310,NaT,NaN,0
22,12168554,NaN,2012-08-28 22:42:22.797,NaT,NaN,0
23,40233262,NaN,2016-10-25 06:54:28.193,NaT,NaN,0
24,42281607,NaN,2017-02-16 18:09:49.120,NaT,NaN,0
25,16890479,NaN,2013-06-03 05:27:38.167,NaT,NaN,0
26,44842772,NaN,2017-06-30 09:10:33.837,NaT,NaN,0
27,46838758,NaN,2017-10-19 20:55:48.720,NaT,NaN,0
28,32873735,NaN,2015-09-30 19:02:15.013,NaT,NaN,0
29,11020447,NaN,2012-06-13 17:44:19.287,NaT,NaN,0
...,...,...,...,...,...,...
70,38358196,38358376.0,2016-07-13 17:29:16.203,2016-07-13 17:39:43.313,0.0,1
71,18594177,18595779.0,2013-09-03 13:56:04.580,2013-09-03 15:12:58.030,0.0,1
72,3441475,3442189.0,2010-08-09 15:16:00.967,2010-08-09 16:42:15.963,0.0,1
73,24310130,24315492.0,2014-06-19 15:15:29.897,2014-06-19 20:12:38.883,0.0,1
74,22366185,22366406.0,2014-03-12 23:40:21.550,2014-03-12 23:57:15.627,0.0,1
75,27197383,27197608.0,2014-11-28 23:57:34.000,2014-11-29 00:31:07.683,0.0,1
76,29230225,29230633.0,2015-03-24 10:30:24.573,2015-03-24 10:50:38.063,0.0,1
77,6585835,6585978.0,2011-07-05 16:24:22.763,2011-07-05 16:39:35.717,0.0,1
78,25285327,25285400.0,2014-08-13 11:47:21.287,2014-08-13 11:51:06.360,0.0,1
79,7330420,7330577.0,2011-09-07 07:42:40.800,2011-09-07 07:58:24.587,0.0,1
80,8553792,8553807.0,2011-12-18 18:27:58.140,2011-12-18 18:30:07.247,0.0,1
81,44316128,44332128.0,2017-06-01 19:59:36.707,2017-06-02 15:09:32.210,0.0,1
82,16473933,16475073.0,2013-05-10 01:48:19.423,2013-05-10 04:13:06.387,0.0,1
83,37548865,37549071.0,2016-05-31 14:45:44.957,2016-05-31 14:54:39.447,0.0,1
84,21983335,21983866.0,2014-02-24 09:13:58.273,2014-02-24 09:40:37.550,0.0,1
85,43851273,43851337.0,2017-05-08 15:15:19.157,2017-05-08 15:18:05.920,0.0,1
86,27632873,27633365.0,2014-12-24 07:01:31.003,2014-12-24 07:41:39.253,0.0,1
87,12774322,12774344.0,2012-10-08 01:33:25.250,2012-10-08 01:36:17.327,0.0,1
88,47414459,47414553.0,2017-11-21 13:35:46.860,2017-11-21 13:40:41.083,0.0,1
89,44860251,44860637.0,2017-07-01 11:11:39.343,2017-07-01 11:56:18.073,0.0,1
90,11447067,11447084.0,2012-07-12 07:36:02.067,2012-07-12 07:36:59.897,0.0,1
91,19046855,19047140.0,2013-09-27 09:05:35.683,2013-09-27 09:19:50.613,0.0,1
92,40216027,40217482.0,2016-10-24 10:22:46.310,2016-10-24 11:40:32.107,0.0,1
93,5905904,5905923.0,2011-05-06 01:25:34.547,2011-05-06 01:29:49.490,0.0,1
94,31255943,31256012.0,2015-07-06 21:27:34.220,2015-07-06 21:32:41.727,0.0,1
95,17476568,17476776.0,2013-07-04 18:46:14.310,2013-07-04 19:03:37.597,0.0,1
96,992068,994760.0,2009-06-14 03:22:59.357,2009-06-15 06:44:20.667,1.0,1
97,26337227,26362903.0,2014-10-13 09:56:17.960,2014-10-14 14:07:26.187,1.0,1
98,22060972,22098615.0,2014-02-27 06:43:26.847,2014-02-28 15:01:20.067,1.0,1
99,8992444,9009309.0,2012-01-24 18:58:11.930,2012-01-25 19:52:17.453,1.0,1